@model WebApp.Models.Order.OrderSearchViewModel
@using Common.Constants
@using Common.DataTransferObjects.CollectionPaging

<div id="orders_wrapper" class="mx-auto">
    <div class="row">
        <div class="mt-2">
            @if (Model == null || !Model.OrderSearchResults.Any())
            {
                <h2>No Data Available</h2>
            }
            else
            {
                @foreach (var item in Model.OrderSearchResults)
                {
                    <button class="btn btn-outline-success btn-xs text-left mt-2 ml-2 text-bold">
                        <span class="text-xs">@item.ProductName</span> <br>
                        <span class="text-xs">₱ @item.ProductPrice x @item.Quantity</span>
                    </button>
                }
            }
        </div>
    </div>
    @if (Model != null && Model.OrderSearchResults.Any())
    {
        <div class="row">
            <div>
                @{
                    await Html.RenderPartialAsync("_Paging", new PagingMetadata(Model.OrderSearchResults.CurrentPage, Model.OrderSearchResults.TotalPages, Model.OrderSearchResults.PageSize, Model.OrderSearchResults.TotalCount, Model.OrderSearchResults.PageClickEvent));
                }
            </div>
        </div>
    }
</div>


