@section Styles
{
    @*<link href="~/lib/datatables/css/datatables.min.css" rel="stylesheet" />*@
}

<div class="container-fluid">
    <div class="row">
        <button id="btnBackToDashboard" class="btn btn-md btn-success">Back to Dashboard</button>
    </div>
    <div class="row">
        <div class="mx-auto">
            <div class="col-md-12">
                <span class="dropdown-item dropdown-header" id="span_count_cart_items_header"></span>
                <div class="dropdown-divider"></div>
                <div id="cart_items_container"></div>
                <span class="dropdown-item dropdown-footer text-bold" id="span_cart_totalamount"></span>
                <button type="button" class="dropdown-item dropdown-footer" id="btnViewCart">View Cart</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
@*    <script src="~/lib/datatables/js/datatables.min.js"></script>
    <script src="~/js/application/Order.js"></script>*@
}