
<div class="container-fluid">
    <div class="row" id="orders_row">
        @{
            await Html.RenderPartialAsync("~/Views/Dashboard/_Dashboard_Orders.cshtml");
        }
    </div>
</div>




@section Scripts
{
    <script src="~/js/application/Dashboard.js"></script>
    <script src="~/js/application/RightMenuBar.js"></script>
}
