<div class="container-fluid">
    <div class="row">
    </div>
    <div class="row">
        @for (int x = 0; x <= 6; x++)
        {
            <div class="col-2 mt-2">
                <button class="btn btn-outline-success btn-block text-left mt-2 text-bold">
                    Iced Spanish Latte <br>
                    ₱ 180 x @x
                </button>
            </div>
        }
    </div>
</div>

@section Scripts
{
    <script src="~/js/application/Dashboard.js"></script>
}
