@using Common.Constants;
@section Styles
    {
    <link href="~/lib/datatables/css/datatables.min.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-md-5 mx-auto mt-2">
        <table id="users_table" class="display compact stripe mt-3" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>


<!-- Add User Modal -->
<div class="modal fade" id="addUserModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserModalLabel">Sign Up</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="inputAddUserFirstname">FirstName</label>
                        <input type="text" class="form-control" id="inputAddUserFirstname" placeholder="Juan">
                    </div>
                    <div class="form-group">
                        <label for="inputAddUserLastname">LastName</label>
                        <input type="text" class="form-control" id="inputAddUserLastname" placeholder="Dela Cruz">
                    </div>
                    <div class="form-group">
                        <label for="inputAddUserUsername">Username</label>
                        <input type="text" class="form-control" id="inputAddUserUsername" placeholder="cashierjuan">
                    </div>
                    <div class="form-group">
                        <label for="inputAddUserPassword">Password</label>
                        <input type="password" class="form-control" id="inputAddUserPassword">
                    </div>
                    <div class="form-group form-group-xs">
                        <label for="ddlAddUserRole">Role</label>
                        @{
                            @await Component.InvokeAsync("SelectList",
                        new {   controlId = "ddlAddUserRole",
                        optionlabel = "--Select--",
                        apiRoute = ReferenceDataConstant.AppUserRoleRoute,
                        additionalClasses = "form-control-sm text-black",
                        selectedValue = ""})
                        }
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btnUserAdd" class="btn btn-primary">Sign Up</button>
            </div>
        </div>
    </div>
</div>


<!-- Edit User Modal -->
<div class="modal fade" id="editUserModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="inputEditUserFirstname">FirstName</label>
                        <input type="text" class="form-control" id="inputEditUserFirstname" placeholder="Juan">
                        <input type="hidden" id="inputEditUserId">
                    </div>
                    <div class="form-group">
                        <label for="inputEditUserLastname">LastName</label>
                        <input type="text" class="form-control" id="inputEditUserLastname" placeholder="Dela Cruz">
                    </div>
                    <div class="form-group">
                        <label for="inputEditUsername">Username</label>
                        <input type="text" class="form-control" id="inputEditUsername" placeholder="cash_juan">
                    </div>
                    <div class="form-group">
                        <label for="inputEditUserPassword">Password</label>
                        <input type="password" class="form-control" id="inputEditUserPassword">
                    </div>
                    <div class="form-group form-group-xs">
                        <label for="ddlEditUserRole">Role</label>
                        @{
                            @await Component.InvokeAsync("SelectList",
                            new {   controlId = "ddlEditUserRole",
                                    optionlabel = "--Select--",
                                    apiRoute = ReferenceDataConstant.AppUserRoleRoute,
                                    additionalClasses = "form-control-sm text-black",
                                    selectedValue = ""})
                        }
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btnUserUpdate" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>

@{
    await Html.RenderPartialAsync("~/Views/Modal/_ConfirmDialogueModal.cshtml");
}

@section Scripts
{
    <script src="~/lib/datatables/js/datatables.min.js"></script>
    <script src="~/js/application/User.js"></script>
}