@{
    var controller = ViewContext.RouteData.Values["Controller"];
    var action = ViewContext.RouteData.Values["Action"];
}
<ul class="navbar-nav ml-auto" id="ul_right_navbar">

    @if (controller.ToString() == "Home")
    {
        @if (action.ToString() == "Index")
        {
            <li class="nav-item d-none d-sm-block">
                <a class="nav-link btn-link" href="" id="icon_cart">
                    <em class="fa fa-shopping-cart"></em>
                    <span class="badge badge-danger navbar-badge" id="span_count_cart_items"></span>
                </a>
            </li>
        }

        @if (action.ToString() != "Cart" && action.ToString() != "Receipt")
        {
            <li class="nav-item d-none d-sm-block">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <em class="fa fa-store"></em><span class="badge badge-danger navbar-badge" id="spanStoreCount">
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-md dropdown-menu-right" id="divBtnStoreContainer">
                </div>
            </li>
            <li class="nav-item d-none d-sm-block">
                <a class="nav-link" href="#">
                <span id="spanStoreNameSelected"></span>
                </a>
            </li>
        }

    }
</ul>

@section Scripts
{
    <script src="~/js/application/RightMenuBar.js"></script>
}