@using Common.DataTransferObjects.Version
<footer class="main-footer">
    @{
        var displayYear = 2021 != DateTime.Now.Year ? "2023 - " + DateTime.Now.Year.ToString() : DateTime.Now.Year.ToString();
    }
    &copy;@displayYear <strong>IS-APAC</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <strong>Version</strong> @VersionDetail.DisplayVersion()
    </div>
</footer>